;; In karabiner.json swap the first code
;; "from": {
;;     "key_code": "caps_lock",
;;     "modifiers": {
;;         "optional": [
;;             "any"
;;         ]
;;     }
;;   },

;; Doing the above because I can't figure out how to do it in Goku
;; Here's an attempt to add the optional any modifier that doesn't work
;; :froms {
;;     :-caps {:key :##caps_lock}
;; }
;; (if anyone knows how to do this in Goku, please let me know!)

{
;; caps lock 'extends' my keyboard by creating another layer with various shortcuts and navigation
;; this is the layer definition
;; functionality:
;; caps_lock when held -> enter extend layer
;; caps_lock when clicked alone -> backspace
:layers {:extend {:key :caps_lock :alone {:key :delete_or_backspace}}}
:main [
  {:des "Extend Layer"
    :rules [:extend
;; modifier keys in extend layer
      [:##q :left_control]
      [:##e :left_option]
      [:##r :left_command]
      [:##f :left_shift]

;; deletes forward whole word when holding shift (must be before the one below it)
      [:!Ssemicolon :!Odelete_forward]
;; semicolon deletes whole word
      [:##semicolon :!Odelete_or_backspace]
;; deletes forward 1 letter
      [:##quote :delete_forward]
;; deletes forward 1 letter
      [:##delete_or_backspace :delete_forward]
  ;; (doesn't work - want shift capslock to delete forward) [:!Scaps_lock :delete_forward]

;; page navigation
      [:##a :left_arrow]
      [:##s :down_arrow]
      [:##w :up_arrow]
      [:##d :right_arrow]
      [:##j :left_arrow]
      [:##k :down_arrow]
      [:##i :up_arrow]
      [:##l :right_arrow]
      [:##u :home]
      [:##o :end]
      [:##h :page_down]
      [:##y :page_up]
      [:##q :escape]

;; misc symbols mod
      [:##escape :grave_accent_and_tilde]
    ]
  }

;; Fn row mapping
  {:des "Extend Layer Fn Keys"
    :rules [:extend
      [:##1 :display_brightness_decrement]
      [:##2 :display_brightness_increment]
      [:##3 :mission_control]
;; missing
      [:##4 :!F4]
      [:##5 :!F5]
      [:##6 :!F6]
;; remaining Fn row mapping
      [:##7 :rewind]
      [:##8 :play_or_pause]
      [:##9 :fastforward]
      [:##0 :mute]
      [:##hyphen :volume_down]
      [:##equal_sign :volume_up]
    ]
  }

;; Canary Layout
  ;; Canary default layer
  {:des "Canary Ortho"
    :rules [
      [:q :w]
      [:w :l]
      [:e :y]
      [:r :p]
      [:t :b]
      [:y :z]
      [:u :f]
      [:i :o]
      [:o :u]
      [:p :quote]
      [:a :c]
      [:s :r]
      [:d :s]
      [:f :t]
      [:g :g]
      [:h :m]
      [:j :n]
      [:k :e]
      [:l :i]
      [:semicolon :a]
      [:quote :semicolon]
      [:z :q]
      [:x :j]
      [:c :v]
      [:v :d]
      [:b :k]
      [:n :x]
      [:m :h]
      [:comma :slash]
      [:period :comma]
      [:slash :period]
    ]
  }

  ;; Canary left shift layer
  {:des "Canary Ortho Left Shift Layer"
    :rules [
      [:!Sq :!Sw]
      [:!Sw :!Sl]
      [:!Se :!Sy]
      [:!Sr :!Sp]
      [:!St :!Sb]
      [:!Sy :!Sz]
      [:!Su :!Sf]
      [:!Si :!So]
      [:!So :!Su]
      [:!Sp :!Squote]
      [:!Sa :!Sc]
      [:!Ss :!Sr]
      [:!Sd :!Ss]
      [:!Sf :!St]
      [:!Sg :!Sg]
      [:!Sh :!Sm]
      [:!Sj :!Sn]
      [:!Sk :!Se]
      [:!Sl :!Si]
      [:!Ssemicolon :!Sa]
      [:!Squote :!Ssemicolon]
      [:!Sz :!Sq]
      [:!Sx :!Sj]
      [:!Sc :!Sv]
      [:!Sv :!Sd]
      [:!Sb :!Sk]
      [:!Sn :!Sx]
      [:!Sm :!Sh]
      [:!Scomma :!Sslash]
      [:!Speriod :!Scomma]
      [:!Sslash :!Speriod]
    ]
  }

  ;; Canary right shift layer
  {:des "Canary Ortho Right Shift Layer"
    :rules [
      [:!Rq :!Rw]
      [:!Rw :!Rl]
      [:!Re :!Ry]
      [:!Rr :!Rp]
      [:!Rt :!Rb]
      [:!Ry :!Rz]
      [:!Ru :!Rf]
      [:!Ri :!Ro]
      [:!Ro :!Ru]
      [:!Rp :!Rquote]
      [:!Ra :!Rc]
      [:!Rs :!Rr]
      [:!Rd :!Rs]
      [:!Rf :!Rt]
      [:!Rg :!Rg]
      [:!Rh :!Rm]
      [:!Rj :!Rn]
      [:!Rk :!Re]
      [:!Rl :!Ri]
      [:!Rsemicolon :!Ra]
      [:!Rquote :!Rsemicolon]
      [:!Rz :!Rq]
      [:!Rx :!Rj]
      [:!Rc :!Rv]
      [:!Rv :!Rd]
      [:!Rb :!Rk]
      [:!Rn :!Rx]
      [:!Rm :!Rh]
      [:!Rcomma :!Rslash]
      [:!Rperiod :!Rcomma]
      [:!Rslash :!Rperiod]
    ]
  }

;; reset cmd hotkeys to Canary Ortho layout
  {:des "Left ⌘ Canary Ortho"
    :rules [
      [:!C##q :!Cw]
      [:!C##w :!Cl]
      [:!C##e :!Cy]
      [:!C##r :!Cp]
      [:!C##t :!Cb]
      [:!C##y :!Cz]
      [:!C##u :!Cf]
      [:!C##i :!Co]
      [:!C##o :!Cu]
      [:!C##p :!Cquote]
      [:!C##a :!Cc]
      [:!C##s :!Cr]
      [:!C##d :!Cs]
      [:!C##f :!Ct]
      [:!C##g :!Cg]
      [:!C##h :!Cm]
      [:!C##j :!Cn]
      [:!C##k :!Ce]
      [:!C##l :!Ci]
      [:!C##semicolon :!Ca]
      [:!C##quote :!Csemicolon]
      [:!C##z :!Cq]
      [:!C##x :!Cj]
      [:!C##c :!Cv]
      [:!C##v :!Cd]
      [:!C##b :!Ck]
      [:!C##n :!Cx]
      [:!C##m :!Ch]
      [:!C##comma :!Cslash]
      [:!C##period :!Ccomma]
      [:!C##slash :!Cperiod]
    ]
  }
;; reset option hotkeys to QWERTY layout
  {:des "Left ⌥ Canary Ortho"
    :rules [
      [:!O##q :!Ow]
      [:!O##w :!Ol]
      [:!O##e :!Oy]
      [:!O##r :!Op]
      [:!O##t :!Ob]
      [:!O##y :!Oz]
      [:!O##u :!Of]
      [:!O##i :!Oo]
      [:!O##o :!Ou]
      [:!O##p :!Oquote]
      [:!O##a :!Oc]
      [:!O##s :!Or]
      [:!O##d :!Os]
      [:!O##f :!Ot]
      [:!O##g :!Og]
      [:!O##h :!Om]
      [:!O##j :!On]
      [:!O##k :!Oe]
      [:!O##l :!Oi]
      [:!O##semicolon :!Oa]
      [:!O##quote :!Osemicolon]
      [:!O##z :!Oq]
      [:!O##x :!Oj]
      [:!O##c :!Ov]
      [:!O##v :!Od]
      [:!O##b :!Ok]
      [:!O##n :!Ox]
      [:!O##m :!Oh]
      [:!O##comma :!Oslash]
      [:!O##period :!Ocomma]
      [:!O##slash :!Operiod]
    ]
  }

;; reset cmd hotkeys to Canary Ortho layout
  {:des "Right ⌘ Canary Ortho"
    :rules [
      [:!Q##q :!Qw]
      [:!Q##w :!Ql]
      [:!Q##e :!Qy]
      [:!Q##r :!Qp]
      [:!Q##t :!Qb]
      [:!Q##y :!Qz]
      [:!Q##u :!Qf]
      [:!Q##i :!Qo]
      [:!Q##o :!Qu]
      [:!Q##p :!Qquote]
      [:!Q##a :!Qc]
      [:!Q##s :!Qr]
      [:!Q##d :!Qs]
      [:!Q##f :!Qt]
      [:!Q##g :!Qg]
      [:!Q##h :!Qm]
      [:!Q##j :!Qn]
      [:!Q##k :!Qe]
      [:!Q##l :!Qi]
      [:!Q##semicolon :!Qa]
      [:!Q##quote :!Qsemicolon]
      [:!Q##z :!Qq]
      [:!Q##x :!Qj]
      [:!Q##c :!Qv]
      [:!Q##v :!Qd]
      [:!Q##b :!Qk]
      [:!Q##n :!Qx]
      [:!Q##m :!Qh]
      [:!Q##comma :!Qslash]
      [:!Q##period :!Qcomma]
      [:!Q##slash :!Qperiod]
    ]
  }
;; reset option hotkeys to QWERTY layout
  {:des "Right ⌥ Canary Ortho"
    :rules [
      [:!E##q :!Ew]
      [:!E##w :!El]
      [:!E##e :!Ey]
      [:!E##r :!Ep]
      [:!E##t :!Eb]
      [:!E##y :!Ez]
      [:!E##u :!Ef]
      [:!E##i :!Eo]
      [:!E##o :!Eu]
      [:!E##p :!Equote]
      [:!E##a :!Ec]
      [:!E##s :!Er]
      [:!E##d :!Es]
      [:!E##f :!Et]
      [:!E##g :!Eg]
      [:!E##h :!Em]
      [:!E##j :!En]
      [:!E##k :!Ee]
      [:!E##l :!Ei]
      [:!E##semicolon :!Ea]
      [:!E##quote :!Esemicolon]
      [:!E##z :!Eq]
      [:!E##x :!Ej]
      [:!E##c :!Ev]
      [:!E##v :!Ed]
      [:!E##b :!Ek]
      [:!E##n :!Ex]
      [:!E##m :!Eh]
      [:!E##comma :!Eslash]
      [:!E##period :!Ecomma]
      [:!E##slash :!Eperiod]
    ]
  }

;; swapping a few symbols for ergonomics (needs to be just before Colemak Mod-DH)
  ;; {:des "Colemak Mod-CAWS: (Partial Sym Mod)"
  ;;   :rules [
  ;;     [:quote :semicolon]
  ;;     [:!Squote :!Ssemicolon]
  ;;     [:p :quote]
  ;;     [:!Sp :!Squote]
  ;;     [:open_bracket :hyphen]
  ;;     [:!Sopen_bracket :!Shyphen]
  ;;     [:close_bracket :equal_sign]
  ;;     [:!Sclose_bracket :!Sequal_sign]
  ;;     [:hyphen :open_bracket]
  ;;     [:!Shyphen :!Sopen_bracket]
  ;;     [:equal_sign :close_bracket]
  ;;     [:!Sequal_sign :!Sclose_bracket]
  ;;   ]
  ;; }

  ;; {:des "Undo Cut Copy"
  ;;   :rules [
  ;;     [:!C##z :!Cz]
  ;;     [:!C##x :!Cx]
  ;;     [:!C##c :!Cc]
  ;;   ]
  ;; }
]}
;; goku doc references:
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
