;; In karabiner.json swap the first code
;; "from": {
;;     "key_code": "caps_lock",
;;     "modifiers": {
;;         "optional": [
;;             "any"
;;         ]
;;     }
;;   },

;; Doing the above because I can't figure out how to do it in Gokuto
;; Here's an attempt that doesn't work
;; (if anyone knows how to do this in Goku, please let me know!)
;; :froms {
;;     :-caps {:key :##caps_lock}
;; }
{
;; caps lock 'extends' my keyboard by creating another layer with various shortcuts and navigation
;; this is the layer definition
;; functionality:
;; caps_lock when held -> enter extend layer
;; caps_lock when clicked alone -> backspace
:layers {:extend {:key :caps_lock :alone {:key :delete_or_backspace}}}
:main [
  {:des "Extend Layer"
    :rules [:extend
;; modifier keys in extend layer
      [:##e :left_option]
      [:##r :left_command]
      [:##f :left_shift]

;; deletes forward whole word when holding shift (must be before the one below it)
      [:!Ssemicolon :!Odelete_forward]
;; semicolon deletes whole word
      [:##semicolon :!Odelete_or_backspace]
;; deletes forward 1 letter
      [:##quote :delete_forward]
;; deletes forward 1 letter
      [:##delete_or_backspace :delete_forward]
  ;; (doesn't work - want shift capslock to delete forward) [:!Scaps_lock :delete_forward]

;; page navigation
      [:##a :left_arrow]
      [:##s :down_arrow]
      [:##w :up_arrow]
      [:##d :right_arrow]
      [:##j :left_arrow]
      [:##k :down_arrow]
      [:##i :up_arrow]
      [:##l :right_arrow]
      [:##u :home]
      [:##o :end]
      [:##h :page_down]
      [:##y :page_up]
      [:##q :escape]

;; misc symbols mod
      [:##escape :grave_accent_and_tilde]
    ]
  }

;; Fn row mapping
  {:des "Extend Layer Fn Keys"
    :rules [:extend
      [:##1 :display_brightness_decrement]
      [:##2 :display_brightness_increment]
      [:##3 :mission_control]
;; missing
      [:##4 :!F4]
      [:##5 :!F5]
      [:##6 :!F6]
;; remaining Fn row mapping
      [:##7 :rewind]
      [:##8 :play_or_pause]
      [:##9 :fastforward]
      [:##0 :mute]
      [:##hyphen :volume_down]
      [:##equal_sign :volume_up]
    ]
  }

;; Canary Layout
  ;; Canary default layer
  {:des "Canary"
    :rules [
      [:q :w]
      [:w :l]
      [:e :y]
      [:r :p]
      [:t :k]
      [:y :z]
      [:u :x]
      [:i :o]
      [:o :u]
      [:p :semicolon]
      [:a :c]
      [:s :r]
      [:d :s]
      [:f :t]
      [:g :b]
      [:h :f]
      [:j :n]
      [:k :e]
      [:l :i]
      [:semicolon :a]
      [:z :j]
      [:x :v]
      [:c :d]
      [:v :g]
      [:b :q]
      [:n :m]
      [:m :h]
      [:comma :slash]
      [:period :comma]
      [:slash :period]
    ]
  }

  ;; Canary left shift layer
  {:des "Canary Left Shift Layer"
    :rules [
      [:!Sq :!Sw]
      [:!Sw :!Sl]
      [:!Se :!Sy]
      [:!Sr :!Sp]
      [:!St :!Sk]
      [:!Sy :!Sz]
      [:!Su :!Sx]
      [:!Si :!So]
      [:!So :!Su]
      [:!Sp :!Ssemicolon]
      [:!Sa :!Sc]
      [:!Ss :!Sr]
      [:!Sd :!Ss]
      [:!Sf :!St]
      [:!Sg :!Sb]
      [:!Sh :!Sf]
      [:!Sj :!Sn]
      [:!Sk :!Se]
      [:!Sl :!Si]
      [:!Ssemicolon :!Sa]
      [:!Sz :!Sj]
      [:!Sx :!Sv]
      [:!Sc :!Sd]
      [:!Sv :!Sg]
      [:!Sb :!Sq]
      [:!Sn :!Sm]
      [:!Sm :!Sh]
      [:!Scomma :!Sslash]
      [:!Speriod :!Scomma]
      [:!Sslash :!Speriod]
    ]
  }

  ;; Canary right shift layer
  {:des "Canary Right Shift Layer"
    :rules [
      [:!Rq :!Rw]
      [:!Rw :!Rl]
      [:!Re :!Ry]
      [:!Rr :!Rp]
      [:!Rt :!Rk]
      [:!Ry :!Rz]
      [:!Ru :!Rx]
      [:!Ri :!Ro]
      [:!Ro :!Ru]
      [:!Rp :!Rsemicolon]
      [:!Ra :!Rc]
      [:!Rs :!Rr]
      [:!Rd :!Rs]
      [:!Rf :!Rt]
      [:!Rg :!Rb]
      [:!Rh :!Rf]
      [:!Rj :!Rn]
      [:!Rk :!Re]
      [:!Rl :!Ri]
      [:!Rsemicolon :!Ra]
      [:!Rz :!Rj]
      [:!Rx :!Rv]
      [:!Rc :!Rd]
      [:!Rv :!Rg]
      [:!Rb :!Rq]
      [:!Rn :!Rm]
      [:!Rm :!Rh]
      [:!Rcomma :!Rslash]
      [:!Rperiod :!Rcomma]
      [:!Rslash :!Rperiod]
    ]
  }

;; reset cmd hotkeys to QWERTY layout
  {:des "⌘ QWERTY"
    :rules [
      [:!C##q :!Cq]
      [:!C##w :!Cw]
      [:!C##e :!Ce]
      [:!C##r :!Cr]
      [:!C##t :!Ct]
      [:!C##y :!Cy]
      [:!C##u :!Cu]
      [:!C##i :!Ci]
      [:!C##o :!Co]
      [:!C##p :!Cp]
      [:!C##a :!Ca]
      [:!C##s :!Cs]
      [:!C##d :!Cd]
      [:!C##f :!Cf]
      [:!C##g :!Cg]
      [:!C##h :!Ch]
      [:!C##j :!Cj]
      [:!C##k :!Ck]
      [:!C##l :!Cl]
      [:!C##z :!Cz]
      [:!C##x :!Cx]
      [:!C##c :!Cc]
      [:!C##v :!Cv]
      [:!C##b :!Cb]
      [:!C##n :!Cn]
      [:!C##m :!Cm]
    ]
  }
;; reset option hotkeys to QWERTY layout
  {:des "⌥ QWERTY"
    :rules [
      [:!O##q :!Oq]
      [:!O##w :!Ow]
      [:!O##e :!Oe]
      [:!O##r :!Or]
      [:!O##t :!Ot]
      [:!O##y :!Oy]
      [:!O##u :!Ou]
      [:!O##i :!Oi]
      [:!O##o :!Oo]
      [:!O##p :!Op]
      [:!O##a :!Oa]
      [:!O##s :!Os]
      [:!O##d :!Od]
      [:!O##f :!Of]
      [:!O##g :!Og]
      [:!O##h :!Oh]
      [:!O##j :!Oj]
      [:!O##k :!Ok]
      [:!O##l :!Ol]
      [:!O##z :!Oz]
      [:!O##x :!Ox]
      [:!O##c :!Oc]
      [:!O##v :!Ov]
      [:!O##b :!Ob]
      [:!O##n :!On]
      [:!O##m :!Om]
    ]
  }

;; swapping a few symbols for ergonomics (needs to be just before Colemak Mod-DH)
  ;; {:des "Colemak Mod-CAWS: (Partial Sym Mod)"
  ;;   :rules [
  ;;     [:quote :semicolon]
  ;;     [:!Squote :!Ssemicolon]
  ;;     [:p :quote]
  ;;     [:!Sp :!Squote]
  ;;     [:open_bracket :hyphen]
  ;;     [:!Sopen_bracket :!Shyphen]
  ;;     [:close_bracket :equal_sign]
  ;;     [:!Sclose_bracket :!Sequal_sign]
  ;;     [:hyphen :open_bracket]
  ;;     [:!Shyphen :!Sopen_bracket]
  ;;     [:equal_sign :close_bracket]
  ;;     [:!Sequal_sign :!Sclose_bracket]
  ;;   ]
  ;; }

  ;; {:des "Undo Cut Copy"
  ;;   :rules [
  ;;     [:!C##z :!Cz]
  ;;     [:!C##x :!Cx]
  ;;     [:!C##c :!Cc]
  ;;   ]
  ;; }
]}
;; goku doc references:
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
